@import 'tailwindcss/utilities' prefix(tm);
@import '@termlnk/shared/tailwind/theme.css';

.electron-dragable {
  -webkit-app-region: drag;
  app-region: drag;
}

.electron-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
